.questionBlock {

  font-size: 1em;

  h4 {
    margin-bottom: 1em;
  }

  ol.answerChoices {
    margin-bottom: 1em;
    text-align: left;
    border-radius: 5px;
    border: 2px solid #222;
    list-style-type: none;

    li {
      padding: 0.5em;
      cursor: pointer;
    }
  }

  button {
    padding: 0.6em;
    border-radius: 5px;
    border: 3px solid #333;
    background-color: rgb(5, 112, 5);
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
  }

  // DYNAMIC CLASSES
  .correctAnswer {
    background-color: forestgreen;
    color: #fff;
  }

  .incorrectAnswer {
    background-color: rgb(219, 14, 14);
    color: #fff;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}